@import 'cards';
@import 'navbar';
@import 'bootstrap-navbar';
@import 'buttons';
@import 'posts';
@import 'tables';
@import 'homepage';

body {
  background: #F3F6FC;
  font-family: 'Roboto', sans-serif;
}

#app.mobile-navbar-active {
  height: 100vh;
  overflow: hidden;
}
